*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    background-color: rgb(37, 37, 39);
}

#menu ul{
    max-width: 500px;
    list-style-type: none;
    padding: 0;
   
    
}

#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all .6s;
}

#menu ul li a:hover{
    background-color: rgb(24, 139, 233);
   ;
}

header{
    display: inline-block;
}