

#navigation{
    background-color: rgb(37, 37, 39);
    position: fixed;
    right: 0;
    top: 60%;
    width: 8em;
    margin-top: -2.5em;
    border-radius: 30px;
}

#navigation ul{
    max-width: 500px;
    list-style-type: none;
    padding: 0;
   
    
}

#navigation ul li{
    display: inline;
}
#navigation ul li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all .6s;
    border-radius: 70px;
}

#navigation ul li a:hover{
    background-color: rgb(24, 139, 233);
   ;
}


